@main("About Page") {
    <div>
        <h1>About Page</h1>
        <h2>Team Earth</h2>
        <div class="row">
            <div class="d-grid gap-0">
                Chetan Pardeep
                    <p class="fst-italic">CPardeep@@academytrainee.com -
                        <a href="https://github.com/QAcpardeep"> Github</a></p>
                </br>
                Ashley Cameron
                    <p class="fst-italic">ACameron@@academytrainee.com -
                        <a href="https://github.com/AshleyCameron1994"> Github</a></p>
                </br>
                Nathan Jackson
                    <p class="fst-italic">NJackson@@academytrainee.com -
                        <a href="https://github.com/nathan-jackson-qa"> Github</a></p>
                </br>
                Carl Angeles
                    <p class="fst-italic">CAngeles@@academytrainee.com -
                        <a href="https://github.com/QA-CarlA"> Github</a></p>
                </br>
                Sam Williams
                    <p class="fst-italic">SWilliams@@academytrainee.com -
                        <a href="https://github.com/QA-SamWilliams"> Github</a></p>
            </div>
        </div>
    </div>
}