@main("About Page") {
    <div>
        <h1>About Page</h1>
        <div class="row">
            <div class="d-grid gap-3">
                Chetan Pardeep - CPardeep@@academytrainee.com
                    </br>
                Ashley Cameron - ACameron@@academytrainee.com
                    </br>
                Nathan Jackson - NJackson@@academytrainee.com
                    </br>
                Carl Angeles - CAngeles@@academytrainee.com
                    </br>
                Sam Williams - SWilliams@@academytrainee.com
            </div>
        </div>
    </div>
}