@import helper._
@import models.Discussion
@(result: Seq[Discussion])
@main("Admin"){

    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                @for(i <- result){
                    @if(!i.onApproved){
                        <br>
                        Movie title: @i.title
                        <br>
                        Review of movie and cinema: @i.description
                        <br>
                        Rating: @i.rating/10
                        <div class="col">
                            <button onclick="changeBool()" type="button" class="btn btn-danger btn-lg">Approve message</button>
                        </div>
                        def changeBool()
                    }
                    }
                </ul>
            </div>
        </div>
    </div>

}
