@main("Classifications") {
<div class="card border-1 border-light" style="background-color: #0A0227">
    <div class="card-body text-center">
        <h1 class="card-title" style="color: white">Classifications</h1>
        <p class="card-text" style="color: #C4B2BC">
            According to the BBFC the regulators of film classifications there are seven categories of film rating each one is
            described below. We at QA Cinemas take these guidelines very seriously and prohibit anybody from entering a film in which
            they are under the said age limit. For information relating to individual classifications press the classification images below.
        </p>
    </div>
</div>
<br><br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-2 custom-border-end">
            <img src="assets/images/U-Rating.png" alt="U Rating" style="height: 200px; width: 100%">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">Universal - Suitable for all</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        A U film should be suitable for audiences aged four years and over, although it is impossible to predict what might upset any particular child.
                    </h6>

                    <h5 class="p-2 pb-0 m-0">Cinema specific</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Adheres to BBFC guidelines
                    </h6>

                    <a class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" href="https://www.bbfc.co.uk/rating/U" role="button">More Info on this Rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-2 custom-border-end">
            <img src="assets/images/PG-Rating.png" alt="PG Rating" style="height: 200px; width: 100%">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">Parental Guidance</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        General viewing, but some scenes may be unsuitable for young children. A PG film should not unsettle a child aged around eight or older.
                        Unaccompanied children of any age may watch, but parents are advised to consider whether the content may upset younger, or more sensitive, children.
                    </h6>

                    <h5 class="p-2 pb-0 m-0">Cinema specific</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Adheres to BBFC guidelines
                    </h6>

                    <a class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" href="https://www.bbfc.co.uk/rating/PG" role="button">More Info on this Rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-2 custom-border-end">
            <img src="assets/images/12A_12-Rating.png" alt="12 & 12A Rating" style="height: 200px; width: 100%">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">Suitable for 12 years and over</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Films classified 12A and video works classified 12 contain material that is not generally suitable for children aged under 12. No one younger than 12 may see a 12A film in a cinema unless accompanied by an adult.
                        Adults planning to take a child under 12 to view a 12A film should consider whether the film is suitable for that child. To help them decide, we recommend that they check the Ratings Info for that film in advance. No one younger than 12 may rent or buy a 12 rated video work.
                    </h6>

                    <h5 class="p-2 pb-0 m-0">Cinema specific</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Adheres to BBFC guidelines
                    </h6>

                    <a class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" href="https://www.bbfc.co.uk/rating/12" role="button">More Info on this Rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-2 custom-border-end">
            <img src="assets/images/15-Rating.png" alt="15   Rating" style="height: 200px; width: 100%">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">Suitable only for 15 years and over</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        No one younger than 15 may see a 15 film in a cinema. No one younger than 15 may rent or buy a 15 rated video work.
                    </h6>

                    <h5 class="p-2 pb-0 m-0">Cinema specific</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Adheres to BBFC guidelines
                    </h6>

                    <a class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" href="https://www.bbfc.co.uk/rating/15" role="button">More Info on this Rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-2 custom-border-end">
            <img src="assets/images/18-Rating.png" alt="18 Rating" style="height: 200px; width: 100%">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">Suitable only for adults</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        No one younger than 18 may see an 18 film in a cinema. No one younger than 18 may rent or buy an 18 rated video work. Adults should be free to choose their own entertainment.
                    </h6>

                    <h5 class="p-2 pb-0 m-0">Cinema specific</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Adheres to BBFC guidelines
                    </h6>

                    <a class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" href="https://www.bbfc.co.uk/rating/18" role="button">More Info on this Rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
}