@main("Classifications") {
        <div class="text-center">
            <h1> Classifications </h1>
        </div>
        <div class="text-center"></div>
            <p> According to the BBFC the regulators of film classifications there are seven categories of film rating each one is
            described below. We at QA Cinemas take these guidlines very seriously and prohibit anybody from entering a film in which
            they are under the said age limit. For further information about the BBFC guidelines please visit the BBFC website here:
                <a href="https://www.bbfc.co.uk/about-classification" target="_blank">www.BBFC.co.uk/about/classification</a></p>
        </div>
            <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Rating</h2>
                </div>
                <div class="col">
                    <h2> Description</h2>
                </div>
                <div class="col">
                    <h2>Cinema specific</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/U-Rating.png")" width=100 height="100">
                </div>
                <div class="col">
                    <p>A U film should be suitable for audiences aged four years and over, although it is impossible to predict what might upset any particular child.</p>
                </div>
                <div class="col">
                    <p> Adheres to BBFC guidelines</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/PG-Rating.png")" width=100 height="100">
                </div>
                <div class="col">
                    <p>General viewing, but some scenes may be unsuitable for young children. A PG film should not unsettle a child aged around eight or older. Unaccompanied children of any age may watch, but parents are advised to consider whether the content may upset younger, or more sensitive, children.</p>
                </div>
                <div class="col">
                    <p> Adheres to BBFC guidelines</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/12A_12-Rating.png")" width=200 height="100">
                </div>
                <div class="col">
                    <p>Films classified 12A and video works classified 12 contain material that is not generally suitable for children aged under 12. No one younger than 12 may see a 12A film in a cinema unless accompanied by an adult. Adults planning to take a child under 12 to view a 12A film should consider whether the film is suitable for that child. To help them decide, we recommend that they check the Ratings Info for that film in advance. No one younger than 12 may rent or buy a 12 rated video work.</p>
                </div>
                <div class="col">
                    <p> Adheres to BBFC guidelines</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/15-Rating.png")" width=100 height="100">
                </div>
                <div class="col">
                    <p>No one younger than 15 may see a 15 film in a cinema. No one younger than 15 may rent or buy a 15 rated video work.</p>
                </div>
                <div class="col">
                    <p> Adheres to BBFC guidelines</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/18-Rating.png")" width=100 height="100">
                </div>
                <div class="col">
                    <p>No one younger than 18 may see an 18 film in a cinema. No one younger than 18 may rent or buy an 18 rated video work. Adults should be free to choose their own entertainment.</p>
                </div>
                <div class="col">
                    <p> Adheres to BBFC guidelines</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/R18-Rating.png")" width=100 height="100">
                </div>
                <div class="col">
                    <p>The R18 category is a special and legally-restricted classification primarily for explicit works of consenting sex or strong fetish material involving adults. Films may only be shown to adults in specially licensed cinemas, and video works may be supplied to adults only in licensed sex shops. R18 video works may not be supplied by mail order.</p>
                </div>
                <div class="col">
                    <p> Adheres to BBFC guidelines</p>
                </div>
            </div>
        </div>
}