@import helper._
@main("Contact Page") {

<!-- Contact form -->
<h1>Contact Us</h1>

<form action="/contactSend" method="get">
        Name:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="email" name="email" required><br>
        Subject:<br>
        <input type="text" name="subject" required><br>
        Message:<br>
        <input type="text" name="message" size="50" required><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
</form>

<!-- Location address -->
<h1> Contact Address</h1>

<p> QA MANCHESTER (OXFORD ST) CENTRE
    8th Floor
    St James Buildings
    79 Oxford Street
    Manchester
    M1 6FQ


    Tel: 0345 074 7857
    Fax: 0345 074 7858
</p>
}
