@import helper._
@main("Contact Page") {
<div class="row">
    <div class="card border-1 border-light" style="background-color: #0A0227">
        <div class="card-body text-center">
            <h1 class="card-title" style="color: white">Contact Us</h1>
            <p class="card-text" style="color: white">
                Here you can send us an e-mail and one of our support staff will see it.
            </p>
        </div>
    </div>
</div>
<br>
<form action="/contactSend" method="get">
    <div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
        <div class="container">
            <div class="row">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col">
                            <h5 class="p-2 pb-0 m-0">Name</h5>
                            <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                                <input type="text" name="name" class="form-text">
                            </h6>
                        </div>
                        <div class="col-sm">
                            <h5 class="p-2 pb-0 m-0">Email</h5>
                            <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                                <input type="email" name="email" class="form-text" required>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="p-2 pb-0 m-0">Subject</h5>
                            <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                                <input type="text" name="subject" class="form-text" required>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="p-2 pb-0 m-0">Message</h5>
                            <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                                <input type="text" name="message" class="form-text" size="50" required>
                            </h6>
                        </div>
                    </div>
                    <br><br><br>
                    <input type="submit" class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" value="Send">
                    <input type="reset" class="btn btn-outline-primary position-absolute bottom-0 m-2" value="Reset">
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="card border-0 border-light whatsOn-card" style="background-color: #0A0227">
        <div class="card-body text-center">
            <h1 class="card-title" style="color: white">You can contact us at our address:</h1>
            <p class="card-text" style="color: white">
                QA MANCHESTER (OXFORD ST) CENTRE,<br>
                8th Floor,<br>
                St James Buildings,<br>
                79 Oxford Street,<br>
                Manchester,<br>
                M1 6FQ.<br>
                Or you can call us at
                <br><br>
                Tel: 0345 074 7857<br>
                Fax: 0345 074 7858 </p>
        </div>
    </div>
</div>
<br><br><br>

}
