
@main("Discussion"){
    <div class="text-center">
        <h1> Welcome to our discussion board movie lovers! </h1>
    </div>
    <br>
    <p>Here at QA we value the opinion of our customers just as much as the movie critics and so we give you the chance to comment
    on your favourite films and give them ratings to help our other potential customers choose what they think is the best choice for them.
    We also try to improve our services and venues as much as possible and so we would appreciate any feedback you have about a
    recent experience you have had in our one of our venues.</p>
    <br>
    <h2>Customer Feedback</h2>
    <div class="row">
        <form action="localhost:9000/discussion/board">
            <label for="name">Venue name:</label>
            <input type="text" id="name" vname="name">
            <br></br>
            <label for="review"> Service feedback:</label>
            <br>
            <textarea id="review" name="cinemareview" rows="8" cols="75"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <h2>Movie Feedback</h2>
    <br>
    <div class="row">
        <form action="localhost:9000/discussion">
            <label for="title">Movie title:</label>
            <input type="text" id="name" mname="name">
            <br></br>
            <label for="title">Rating:</label>
            <input type="number" min="0" max="10" id="name" mname="name"> /10
            <br></br>
            <label for="review"> Review of movie:</label>
            <br>
            <textarea id="review" name="cinemareview" rows="8" cols="75"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
}