@import helper._
@import models.discussionForm
@(discussionForm: Form[Discussion])(implicit messages: Messages)
@main("Discussions"){
<div class="card border-1 border-light" style="background-color: #0A0227">
    <div class="card-body text-center">
        <h1 class="card-title" style="color: white">Welcome to our discussion board movie lovers!</h1>
        <p class="card-text" style="color: #C4B2BC">
            Here at QA we value the opinion of our customers just as much as the movie critics and so we give you the chance to comment
            on your favourite films and give them ratings to help our other potential customers choose what they think is the best choice for them.
            We also try to improve our services and venues as much as possible and so we would appreciate any feedback you have about a
            recent experience you have had in our one of our venues.
        </p>
    </div>
</div>
<br>
@form(action = routes.DiscussionController.discFormPost()) {
    <div class="card mb-5 border-1 border-light" style="background-color: #0A0227; color: white">
        <div class="container">
            <div class="row">
                <div class="card-body p-0">
                    <br>
                    <div class="row">
                        <div class="col">
                            <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                                @inputText(discussionForm("title"), 'class -> "form-text", '_label -> "Review Title", '_showConstraints -> false)
                            </h6>
                        </div>
                        <div class="col">
                            <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                                @select(field = discussionForm("rating"), options = Seq("1" -> "1", "2" -> "2", "3" -> "3", "4" -> "4"," 5" -> "5","6" -> "6","7" -> "7","8" -> "8","9" -> "9","10" -> "10"), '_showConstraints -> false, '_label -> "Review Title", 'class -> "form-select")
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                            @textarea(field = discussionForm("description"), 'class -> "form-control", '_label -> "Description")
                        </h6>
                    </div>
                    <br><br>
                    <input class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
    @inputText(discussionForm("id").copy(value=Some("0")), 'style -> "display: none", 'hidden -> "hidden", '_label -> "", '_showConstraints -> false)
    @inputText(discussionForm("approved").copy(value=Some("0")), 'style -> "display: none", 'hidden -> "hidden", '_label -> "", '_showConstraints -> false)
}
}
