@import helper._
@import models.Discussion
@(result: Seq[Discussion])
@main("Discussion"){
    <div class="text-center">
        <h1> Leave a review on a movie or one of our premises! </h1>
    </div>
    <br>
    <div>
    <a class="btn btn-primary" href="discussions/form">Press here to add a review</a>
    </div>
    <br>
    <h2>Reviews</h2>
    <br>
    <ul>
        @for(i <- result){
            <br>
            Movie title: @i.title
            <br>
            Review of movie and cinema: @i.description
            <br>
            Rating: @i.rating/10
            <br><br>
                <hr>
        }
    </ul>
    <br>
}