@import helper._
@import models.{BookingMongo, CinemaMongo}
@(bookingForm: Form[BookingMongo])(implicit messages: Messages)
@main("Ticket Booking") {
<div class="card border-1 border-light" style="background-color: #0A0227">
    <div class="card-body text-center">
        <h1 class="card-title" style="color: white">You are now booking tickets</h1>
    </div>
</div>
@form(action = routes.BookingMongoController.create()) {
@inputText(bookingForm("name"), 'class -> "form-text", '_showConstraints -> false, '_label -> "Name")
@inputText(bookingForm("date"), 'class -> "form-text", '_showConstraints -> false, '_label -> "date")
@inputText(bookingForm("time"), 'class -> "form-text", '_showConstraints -> false, '_label -> "time")
@inputText(bookingForm("numOfAdult"), 'class -> "form-text", '_showConstraints -> false, '_label -> "numOfAdult")
@inputText(bookingForm("numOfChild"), 'class -> "form-text", '_showConstraints -> false, '_label -> "numOfChild")
@inputText(bookingForm("deluxe"), 'class -> "form-text", '_showConstraints -> false, '_label -> "deluxe")
@inputText(bookingForm("concessions"), 'class -> "form-text", '_showConstraints -> false, '_label -> "concessions")
@inputText(bookingForm("total"), 'class -> "form-text", '_showConstraints -> false, '_label -> "total")
@inputText(bookingForm("movie_id"), 'class -> "form-text", '_showConstraints -> false, '_label -> "movie_id")
@inputText(bookingForm("cinema_id"), 'class -> "form-text", '_showConstraints -> false, '_label -> "cinema_id")

<input type="submit" value="Submit">


</div>
}
<br><br>
}