@main("Opening Times"){
<div class="card border-1 border-light" style="background-color: #0A0227">
    <div class="card-body text-center">
        <h1 class="card-title" style="color: white">Opening Times</h1>
        <p class="card-text" style="color: white">
            These are the opening times for all of our branches across the UK. For any holiday specific opening times, please check back to this page nearer the time.
        </p>
    </div>
</div>
</div>
</br>
<div class="card border-0 border-light whatsOn-card" style="background-color: #0A0227">
    <div class="card-body text-center">
        <table class="table table-light table stripped">
            <thead class="table-light">
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Times</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Monday</th>
                <td class="text-center">10:00am - 1:00am</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td class="text-center">10:00am - 1:00am</td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td class="text-center">10:00am - 1:00am</td>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <td class="text-center">10:00am - 1:00am</td>
            </tr>
            <tr>
                <th scope="row">Friday</th>
                <td class="text-center">10:00am - 1:00am</td>
            </tr>
            <tr>
                <th scope="row">Saturday</th>
                <td class="text-center">10:00am - 1:00am</td>
            </tr>
            <tr>
                <th scope="row">Sunday</th>
                <td class="text-center">2:00pm - 1:00am</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
}