@main("Opening Times"){
    <div>
        <h1>Opening Times</h1>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Times</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>10:00am - 1:00am</td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>10:00am - 1:00am</td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>10:00am - 1:00am</td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>10:00am - 1:00am</td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>10:00am - 1:00am</td>
                </tr>
                <tr>
                    <th scope="row">Saturday</th>
                    <td>10:00am - 1:00am</td>
                </tr>
                <tr>
                    <th scope="row">Sunday</th>
                    <td>2:00pm - 1:00am</td>
                </tr>
            </tbody>
        </table>
    </div>
}