@main("Screens") {
    <div class="text-center">
        <h1> Choose how you view </h1>
    </div>
    <div class="text-center">
    <p> Here at QA cinemas we like to give our customers the chance to shape and cultivate their own viewing experience making the choices that suit them.
        It is exactly for this reason that we have two different types of viewing experience. We have two screens to choose from, our standard screens and our world renowned Director's box.
    </p>
    </div>
    <br>
    <div class="text-center">
        <h2>Standard Seating</h2>
    </div>
    <br>
    <div>
        <h3>The plan</h3>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/Standard-screen.png")" width=500 height="300">
            </div>
            <div class="col">
                <p> Our standard screens offers comfort, engagement and 50 ft x 25 ft size screens for your viewing pleasure. These show a wide range of films at a very cheap price and has a concession stall before you go in so you can buy all the tasty snacks that you can nibble on whilst enjoying the blockbusters on display. This is fun for groups of all sizes and are the most popular choice amongst our movie goers. You can get yourself a ticket here: <a href="/ticketBooking" target="_blank">Tickets</a></p>
            </div>
        </div>
        <br>
        <div>
            <h3>Sneak Peek</h3>
        </div>
        <br>
        <div class="row">
                <img src="@routes.Assets.versioned("images/Standard-seats.png")" width=1000 height="450">
        </div>
        <br>
        <p>Our classically designed 150 seater theatres are made with comfort and style in mind. With fold-able chairs and space on each chair for your mid-movie snacks you can guarantee that you can enjoy your movie experience without having to worry about getting comfortable first or having everything set-up. These screens are perfect for friends and family fun so what are you waiting for!</p>
        <br>
        <div class="text-center">
            <h2>The Directors Box</h2>
        </div>
        <br>
        <div>
            <h3>The plan</h3>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/DBox-screen.png")" width=400 height="400">
            </div>
            <div class="col">
                <p>Upgrade to our deluxe Director's box screens which sport massive 65 ft x 35 ft screens, have interactive seats and extra loud speakers to give you a cinematic experience you wont forget!
                This requires no subscription like other cinemas and only costs that little bit extra! The Director's box is well known amongst cinema fanatics for being an intimate and personalised experience
                    whilst not losing that community feeling that makes going to the cinema that little bit special.</p>
            </div>
        </div>
        <br>
        <div>
            <h3>Sneak Peek</h3>
        </div>
        <br>
        <div class="row">
                <img src="@routes.Assets.versioned("images/DBox-seats.png")" width=1000 height="450">
        </div>
        <br>
        <p>With a focus on bespoke seating and total relaxation the design of our Director's box is top of the range. With plush velvet upholstery on the premium sofa beds at the front or soft and warm cotton and linen upholstery on the upright seating you know you are in special place. These 60 capacity theatres are intimate and made just for you in mind. You will even be waited on by our friendly and caring staff who go above and beyond to ensure you have the best experience possible here at QA cinemas. So book a ticket with us here and now at: <a href="/ticketBooking" target="_blank">Tickets</a> </p>
        <br>
    </div>



}