@main("Screens") {
<div class="card border-1 border-light" style="background-color: #0A0227">
    <div class="card-body text-center">
        <h1 class="card-title" style="color: white">Choose how you view</h1>
        <p class="card-text" style="color: #C4B2BC">
            Here at QA cinemas we like to give our customers the chance to shape and cultivate their own viewing experience making the choices that suit them.
            It is exactly for this reason that we have two different types of viewing experience. We have two screens to choose from, our standard screens and our world renowned Director's box.
        </p>
    </div>
</div>
<br><br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-5 custom-border-end">
            <img src="@routes.Assets.versioned("images/Standard-screen.png")" style="height: 300px; width: 100%">
        </div>
        <div class="col-md-7">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">Standard Seating</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Our standard screens offers comfort, engagement and 50 ft x 25 ft size screens for your viewing pleasure. These show a wide range of films at a very cheap price and has a concession stall before you
                        go in so you can buy all the tasty snacks that you can nibble on whilst enjoying the blockbusters on display. This is fun for groups of all sizes and are the most popular choice amongst our movie goers.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card border-1 border-light p-0" style="background-color: #0A0227">
        <img src="@routes.Assets.versioned("images/Standard-seat.png")" class="card-img-top">
        <div class="card-body text-center">
            <p class="card-text" style="color: #C4B2BC">
                Our classically designed 150 seater theatres are made with comfort and style in mind. With fold-able chairs and space on each chair for your mid-movie snacks you can guarantee that you can enjoy your movie experience without having to worry about getting comfortable first or having everything set-up.
                These screens are perfect for friends and family fun so what are you waiting for!
            </p>
        </div>
    </div>
</div>
<br><br>
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-5 custom-border-end">
            <img src="@routes.Assets.versioned("images/DBox-screen.png")" style="height: 300px; width: 100%">
        </div>
        <div class="col-md-7">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">The Directors Box</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">
                        Upgrade to our deluxe Director's box screens which sport massive 65 ft x 35 ft screens, have interactive seats and extra loud speakers to give you a cinematic experience you wont forget!
                        This requires no subscription like other cinemas and only costs that little bit extra! The Director's box is well known amongst cinema fanatics for being an intimate and personalised experience
                        whilst not losing that community feeling that makes going to the cinema that little bit special.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card border-1 border-light p-0" style="background-color: #0A0227">
        <img src="@routes.Assets.versioned("images/DBox-seats.png")" class="card-img-top">
        <div class="card-body text-center">
            <p class="card-text" style="color: #C4B2BC">
                With a focus on bespoke seating and total relaxation the design of our Director's box is top of the range. With plush velvet upholstery on the premium sofa beds at the front or soft and warm cotton and linen upholstery on the upright seating you know you are in special place.
                These 60 capacity theatres are intimate and made just for you in mind. You will even be waited on by our friendly and caring staff who go above and beyond to ensure you have the best experience possible here at QA cinemas.
            </p>
        </div>
    </div>
</div>
<br><br><br>
}