@(booking: Booking)
@main("PayPal Test"){
    <div>
        <h1>Checkout</h1>
        </br>
        <h3>Confirm the details below then proceed to Paypal Payment when ready</h3>
        <table class="table table-borderless">
            <!--
            <thead class="table-dark">
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Times</th>
                </tr>
            </thead>
            -->
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@booking.name_of_person</td>
                </tr>
                <tr>
                    <th scope="row">Adult Tickets</th>
                    <td>@booking.numOfAdult</td>
                </tr>
                <tr>
                    <th scope="row">Child Tickets</th>
                    <td>@booking.numOfChild</td>
                </tr>
                <tr>
                    <th scope="row">Concessions</th>
                    <td>£@booking.concessions</td>
                </tr>
                <tr>
                    <th scope="row">Total Price</th>
                    <td>£@booking.total</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <script src="https://www.paypal.com/sdk/js?client-id=AWrAtgM5lDpvxw-QS_nX_TD_fOgP5RNKLaV7dARUCoXv6ZxifWoK8X5-mh4Tig8qAEo4Uy73Y19j9Cdc&currency=GBP&disable-funding=credit,card"></script>
        <div id="paypal-button-container"></div>
        <script>
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({

                    // Set up the transaction
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: @booking.total
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                            // Show a success message to the buyer
                            alert('Transaction completed by ' + details.payer.name.given_name + '!');
                            window.location.href='home';
                        });


                    },
                    onCancel: function(data){
                        alert('Transaction was cancelled')
                    }


                }).render('#paypal-button-container');
        </script>
        &nbsp
        <a class="btn btn-primary" href="home">Go back to Home</a>
    </div>

}