@import helper._
@import models.Cinema
@(bookingForm: Form[Booking], cinemas: Seq[Cinema], id: Int)(implicit messages: Messages)
@main("Ticket Booking") {
@form(action = routes.BookingController.inputBooking()){
@inputText(bookingForm("id").copy(value=Some("0")), 'style -> "display: none", 'hidden -> "hidden", '_label -> "", '_showConstraints -> false)
@inputText(bookingForm("name_of_person"), '_showConstraints -> false, '_label -> "Name")
@inputText(bookingForm("date"), '_showConstraints -> false, '_label -> "Date")
@inputText(bookingForm("time"), '_showConstraints -> false , '_label -> "Time")
@inputText(bookingForm("numOfAdult"), '_showConstraints -> false, '_label -> "Number of Adult Tickets", 'type -> "number", 'min -> 0, 'max -> 10)
@inputText(bookingForm("numOfChild"), '_showConstraints -> false, '_label -> "Number of Child Tickets", 'type -> "number", 'min -> 0, 'max -> 10)
@select(field=bookingForm("deluxe"), options=Seq("true" -> "Yes", "false" -> "No"), '_label -> "Would you like deluxe seating?", '_showConstraints -> false)
@select(field=bookingForm("concessions"), options=Seq("0.0" -> "None", "1.99" -> "Coke", "4.99" -> "Coke + Popcorn", "7.99" -> "Coke + Popcorn + Nachos"), '_showConstraints -> false, '_label -> "Concessions")
@inputText(bookingForm("movie_id").copy(value=Some(id.toString)), 'readonly -> "readonly", '_showConstraints -> false, '_label -> "Movie ID")
@select(field=bookingForm("cinema_id"), options=cinemas.map(cinema => cinema.id.toString -> cinema.name), '_showConstraints -> false, '_label -> "Cinema")
@inputText(bookingForm("total").copy(value=Some("0")), 'style -> "display: none", 'hidden -> "hidden", '_label -> "", '_showConstraints -> false)
<input type="submit" value="Submit">
}
}
