@import helper._
@import models.Movie
@(results: Seq[Movie])
@main("What's On") {
@for(m <- results) {
<div class="card mb-5 border-0 whatsOn-card" style="background-color: #0A0227; color: white">
    <div class="row g-0">
        <div class="col-md-2 custom-border-end">
            <img src="assets/@m.img_url" alt="@m.name" style="height: 300px; width: 100%">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title custom-border-bottom p-3 m-0 text-center" style="width: 100%;">@m.name</h4>
                <div style="border-top: 0.5px solid white">
                    <h5 class="p-2 pb-0 m-0">Description</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">@m.desc</h6>

                    <h5 class="p-2 pb-0 m-0">Director</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">@m.director</h6>

                    <h5 class="p-2 pb-0 m-0">Age Rating</h5>
                    <h6 class="card-text p-2 pt-1" style="color: #D8D4F2">@m.classification</h6>

                    <a class="btn btn-outline-primary position-absolute bottom-0 end-0 m-2" href="/listingGallery/@m.id" role="button">View Movie</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
}
}
